
$MobileLargerMobileBreakPoint:451px;
$MobileVeryLargeMobileBreakPoint:550px;
$MobileSuperLargeMobileBreakPoint:760px;

$DeskTopFirstBreakPoint:860px;
$DeskTopLargeBreakPoint:1080px;

$GlobalBorderRadius:12px;