@import '../AllStyles/GlobalStyles.scss';

.DataInfoParentContainer {
	width: 100%;

	margin: 0px;
}

.data-title-components {
	display: flex;

	margin-left: 8px;
	margin-right: 8px;
}

.data-title-component-item-title {
	flex:4;
}

.data-title-component-item-image {
	flex:1;
	align-self: flex-start;
}

.data-title-components button {
	width: fit-content;
	height: fit-content;

	font-size: large;
	text-align:center;
	font-weight: bolder;
	color: lightcoral;

	margin-left: 38px;

	border: none;
	background-color: transparent;
}

.DataInfoParentContainer p {
	margin-left: 8px;
	margin-right: 8px;

	font-size: 1.3em;
	color: $TextDarkGrayishBlue;
}

.bottom-border {
	height: 1px;
	margin: 0px 8px 12px 8px;
	background-color: $DividerLightGrayishBlue;
}

.data-title {
	font-size: 1.3em;
	color: $TextDarkGrayishBlue;
}

.data-title-strong {
	font-weight: 900;
	color: $TextVeryDarkGrayishBlue;
	transition: font-weight 1000ms ease-out;
}

//Transitions the statement between diaplaying states
.data-info-visible {
	display: block;

	margin-top: 8px;
	margin-bottom: 8px;
	transform: scaleY(1);
	transition: transform 500ms, margin 500ms;
}

.data-info-hidden {
	//height: 0px;

	margin-top: 0px;
	margin-bottom: 0px;
	transform: scaleY(0);
	transition: transform 500ms, margin 500ms;//, height 500ms;
}

//Button flip transitions/animations
.button-up-rotation {
	transition: transform 300ms;
	transform: rotate(180deg);
}

.button-down-rotation {
	transition: transform 300ms;
	transform: rotate(360deg);//Because I want it to rotate to the right
}

@media only screen and (min-width:$DeskTopFirstBreakPoint) {
	.data-title-components button {
		margin-left: 44px;
	}

	.data-title {
		font-size: 1.4em;
	}

	.DataInfoParentContainer p {
		font-size: 1.3em;
	}
}

@media only screen and (min-width:$DeskTopLargeBreakPoint) {
	.data-title-components button {
		margin-left: 58px;
	}

	.data-title {
		font-size: 1.6em;
	}

	.DataInfoParentContainer p {
		font-size: 1.4em;
	}
}